.containerBox{
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    gap: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom:50px;
    background-color: #e0c250;
    padding-top: 20px;
}
.linkDogs{
    text-decoration: none;
}
.loadingDogDetail{
    margin-top: -20px;
    width: 100vh;
    height: 700px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.displayNone{
    display: none;
}